root = true

[*]
indent_size = 4
indent_style = space
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true

[package.json]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2
