/node_modules/

src/
test/
coverage/

.vscode
.rpt2_cache
.editorconfig
.prettierignore
.prettierrc
.travis.yml

empty.js
build-rollup.js
jest.config.js
jest.setup.js
tsconfig.json
tslint.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
