/node_modules/

src/
test/
coverage/

.vscode
.rpt2_cache
.rts2_cache_*
.circleci
.editorconfig
.prettierignore
.prettierrc
.browserlistrc
.travis.yml
.size-limit.json

empty.js
build-rollup.js
jest.config.js
jest.setup.js
tsconfig.json
tsconfig.build.json
tslint.json
renovate.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
